body{
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
    background-attachment: fixed;
}
#con{
   
    font-size: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
#clock{
    color:rgba(139, 69, 19, 0.741);
    font-family: monospace;
    text-align:end;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.1 );
    backdrop-filter: blur(15px);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    
}